@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.main-container > * {
  max-width: 1140px;
  margin: 0 auto;
}

.hero-section {
  height: calc(100svh - 5.7rem);
  max-height: 45rem;
}
