@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
}
/* body::-webkit-scrollbar {
} */

.main-container > * {
  max-width: 1140px;
  margin: 0 auto;
}

.hero-section {
  height: calc(100svh - 5.7rem);
  max-height: 45rem;
}
